<?xml version="1.0" encoding="UTF-8"?>
<odoo>


                <menuitem
                    name="Facture"
                    id="menu_facture"
                    parent="engagement.menu_engagement_root"
                    action="action_facture"
                    sequence="23"
                    />

</odoo>